#/.metadata/
#.settings/
#.tracecompass/
#/TxtSharedLibraryInterface/Debug/
#/TxtSharedLibraryInterface/Release/src
#/TxtSharedLibraryInterface/Release/*.*
#/TxtSharedLibraryInterface2/Debug/
#/TxtSharedLibraryInterface2/Release/src
#/TxtSharedLibraryInterface2/Release/*.*
#/TxtSharedLibraryInterfaceDemo01/Debug
#/TxtSharedLibraryInterfaceDemo01/Release/src
#/TxtSharedLibraryInterfaceDemo01/Release/*.*
RemoteSystemsTempFiles/
